<!DOCTYPE html>
<title>Soloq Challenge</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

<div class="center full-height">
  <h1>BIG HYPE SOLOQ CHALLENGE</h1>
  <div class="players">
    {% for player in players %}
    <div class="center">
      <h3>{{ player["name"] }} {% if player["hotStreak"] %} on hot streak!{% endif %}</h3>
      <a href="{{ player['opgg'] }}">{{ player["riot_name"] }}</a>
      {% if player["tier"] %}
      <p>{{ player["tier"] }} {{ player["rank"] }} - {{ player["leaguePoints"] }} LP</p>
      <p>{{ player["wr"] }}% - {{ player["games"] }} games</p>
      {% else %}
      <p>Unranked</p>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>